{% if pagination.pages > 1 %}

  <nav role="navigation" class="grid justify-between items-center my-8">
    {% if pagination.previous %}
      <a href="{{ pagination.previous.url }}" class="primary-btn">Previous</a>
    {% endif %}

    {% if pagination.next %}
      <a href="{{ pagination.next.url }}" class="primary-btn">Next</a>
    {% endif %}
  </nav>

{% endif %}