{% if pagination.pages > 1 %}

  <nav role="navigation" class="flex justify-center items-center my-8">
    {% if pagination.previous %}
      <a href="{{ pagination.previous.url }}" class="btn-primary">Previous</a>
    {% endif %}

    {% if pagination.next %}
      <a href="{{ pagination.next.url }}" class="btn-primary">Next</a>
    {% endif %}
  </nav>

{% endif %}