<div class="col-lg-3 col-md-4 col-sm-6 mix">
  <div class="product__item">
    <div class="product__item__pic set-bg" data-setbg='{{ 'product-1' | placeholder_svg_tag }}'>
      <ul class="product__hover">
        <li>
          <a href="{{ 'product-1' | placeholder_svg_tag }}" class="image-popup">
            <span class="icon_expand"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon_heart_alt"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon_bag_alt"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="product__item__text">
      <h6>Product Title
      </h6>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      <div class="product__price">{{ 1000 | money }}</div>
    </div>
  </div>
</div>