<!-- Categories Section Begin -->
<section class="categories">
  <div class="container-fluid">
    <div class="row">

      {% for block in section.blocks %}
        {% case block.type %}

          <div class="col-lg-6 p-0">
            {% when "large_banner" %}
            <div class="categories__item categories__large__item set-bg" data-setbg="img/categories/category-1.jpg">
              <div class="categories__text">
                <h1>Women’s fashion</h1>
                <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                  edolore magna aliquapendisse ultrices gravida.</p>
                <a href="#">Shop now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">

              {% when "small_banner_1" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                  <div class="categories__text">
                    <h4>Men’s fashion</h4>
                    <p>358 items</p>
                    <a href="#">Shop now</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_2" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                  <div class="categories__text">
                    <h4>Men’s fashion</h4>
                    <p>358 items</p>
                    <a href="#">Shop now</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_3" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                  <div class="categories__text">
                    <h4>Men’s fashion</h4>
                    <p>358 items</p>
                    <a href="#">Shop now</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_4" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                  <div class="categories__text">
                    <h4>Men’s fashion</h4>
                    <p>358 items</p>
                    <a href="#">Shop now</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        {% endcase %}
      {% endfor %}

    </div>
  </div>
</section>
<!-- Categories Section End -->

{% schema %}
  {
    "name": "Banner Section",
    "blocks": [
      {
        "type": "large_banner",
        "limit": 1,
        "name": "Large banner",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select a collection"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      },
      {
        "type": "small_banner_1",
        "limit": 1,
        "name": "Small banner 1",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select a collection"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      },
      {
        "type": "small_banner_2",
        "limit": 1,
        "name": "Small banner 2",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select a collection"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      },
      {
        "type": "small_banner_3",
        "limit": 1,
        "name": "Small banner 3",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select a collection"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      }, {
        "type": "small_banner_4",
        "limit": 1,
        "name": "Small banner 4",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select a collection"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner Section"
      }
    ]
  }
{% endschema %}