<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="section-title">
      <h4>{{ section.settings.featured_collection_title }}</h4>
    </div>

    <div class="row property__gallery">
      {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products %}
        {% render 'product-card', products_card: product %}
      {% else %}
        {% for item in (1..4) %}
          {% render 'product-card-placeholder' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- Product Section End -->


{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "featured_collection_title",
        "label": "Title",
        "default": "Featured Collection"
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Select Featured Collection"
      }, {
        "type": "range",
        "id": "number_of_products",
        "default": 4,
        "min": 4,
        "max": 12,
        "step": 4,
        "label": "Number of Products"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}