<!-- Instagram Begin -->
<div class="instagram">
  <div class="container-fluid">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-lg-2 col-md-4 col-sm-4 p-0">
          <div class="instagram__item set-bg" data-setbg="{{ block.settings.image | img_url: 'large' }}">
            <div class="instagram__text">
              <i class="fa fa-instagram"></i>
              <a href="{{ block.settings.instagram_url }}">{{ block.settings.instagram_handle }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Instagram End -->

{% schema %}
  {
    "name": "Instagram Posts Section",
    "settings": [],
    "blocks": [
      {
        "name": "Post",
        "type": "picture",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Choose a picture"
          }, {
            "type": "text",
            "id": "instagram_handle",
            "label": "Instagram Handle",
            "default": "@zf_mackie"
          }, {
            "type": "url",
            "id": "instagram_url",
            "label": "Instagram URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram Posts"
      }
    ]
  }
{% endschema %}