<!-- Banner Section Begin -->
<section class="banner set-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8 m-auto">
        <div class="banner__slider owl-carousel">
          {% for block in section.blocks %}
            <div class="banner__item" data-setbg="img/banner/banner-1.jpg">
              <div class="banner__text">
                <span>The Chloe Collection</span>
                <h1>The Project Jacket</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

{% schema %}
  {
    "name": "SlideShow",
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": []
      }
    ],
    "presets": [
      {
        "name": "Slideshow"
      }
    ]
  }
{% endschema %}