<div class="px-4 py-8">
  <a href="{{ routes.collections_url }}" class="text-base text-gray-500 hover:underline text-center block my-4">Go back to collections</a>
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1 class="text-3xl text-center font-medium uppercase">{{ collection.title }}</h1>

    <div class="max-w-6xl mx-auto my-3">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-6">
        {% for product in collection.products %}
          {% render 'product-card', products_card: product %}

        {% else %}
          {% for item in (1..3) %}
            {% render 'product-card-placeholder' %}
          {% endfor %}
          <p>There are no products available</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "range",
        "id": "number_of_products_per_page",
        "min": 1,
        "max": 15,
        "default": 6,
        "label": "Number of products per page"
      }, {
        "type": "checkbox",
        "id": "display_vendor",
        "label": "Display Vendor Information",
        "default": true
      }
    ]
  }
{% endschema %}