<!-- Trend Section Begin -->
<section class="trend spad">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="trend__content">
            <div class="section-title">
              <h4>{{ block.settings.title }}</h4>
            </div>
            {% for product in block.settings.collection.products %}
              <div class="trend__item">
                <div class="trend__item__pic">
                  <img src="img/trend/ht-1.jpg" alt="">
                </div>
                <div class="trend__item__text">
                  <h6>Chain bucket bag</h6>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="product__price">$ 59.0</div>
                </div>
              </div>

            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Trend Section End -->

{% schema %}
  {
    "name": "Trends Section",
    "blocks": [
      {
        "name": "Trends",
        "type": "trends",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Choose a collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Trends Section"
      }
    ]
  }
{% endschema %}